<h1>Listing posts</h1>

<ol class="posts">

<% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post.link.blank? ? post : post.link %><br/>
    <span class="meta"> Posted by <%= post.user.name %> </span>

    <!--
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    -->
  </li>
<% end %>

</ol>

<br />

<%= link_to 'New Post', new_post_path %>
