<p id="notice"><%= notice %></p>

<div class="post">
  <%= link_to @post.title, @post.link.blank? ? @post : @post.link %><br/>
  <span class="meta"> by <%= link_to @post.user.username, @post.user %> | <%= time_ago_in_words(@post.created_at) %></span>

  <% unless @post.description.blank? %>
    <p class="description">
      <%= @post.description %>
    </p>
  <% end %>
</div>

